/* CSS Document */

body{
	font-size: 16px;
}

*{
	color: black;
	box-sizing: border-box;
}

header, footer{
	height: 200px;
	padding: 1em;
}

article{
	height: auto;
	background-color: turquoise;
	padding: 1em;
	margin-bottom: 1em;
}

body > header{
	background-color: teal;
	margin-bottom: 1em;
	float: left;
	width: 79%;
}

main{
	float: left;
	width: 79%;
}

nav{
	background-color:rgb(48, 63, 171);
	padding: 1em;
	float: left;
	width: 20%;
	height: 600px;
	margin-right: 1%;
}

nav h1, li, a{ 
	color: white;
}

main > article > header{
	background-color:turquoise;
}

footer{
	background-color: rgb(1, 66, 66);
	width: 100%;
	text-align: center;
	clear: both;
}

footer p {
	color: white;
}